<%= form_for [@user, @session, @track] do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> This file can not be saved</h2>

      <ul>
        <% @track.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Track name' %><br>
    <%= f.text_field :name %>
    <% f.label :audio %><br>
    <%= f.file_field :audio %>
  </div>
  <div class="actions">
    <%= f.submit 'Add track', :class => 'button' %>
  </div>
<% end %>


