<header class='SoundLink'>
    <h2>Welcome <%= @user.user_name %></h2>
    <p>Sound-Link</p>
</header>

<div class='title'>
    <h1>Your last sessions</h1>
</div>

<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<h2><%= link_to "Go to your sessions!", user_sessions_path(@user), :class => 'title' %></h2>

<section id='session'>
    <h3><%= @user.sessions.last.session_name %></h3>
    <div id='description'>
        <p><%= @user.sessions.last.description %></p>
    </div>

    <% @user.sessions.last.tracks.each do |track| %>
        <ul>
            <% if track.audio_content_type!=nil %>
                <li>
                    <p class='trackname'><%= track.audio_file_name %></p>
                    <audio id='<%= session.id %>' class="player" src='<%= track.audio %>' controls></audio>
            <% else %>
                <p>This session doesn't contain any track!</p>
            <% end %>
        </ul>
    <% end %>
    <div id='<%= session.id %>' class='btn-play button'>Play session</div>
    <div id='<%= session.id %>' class='btn-pause button'>Pause session</div>
    <div id='<%= session.id %>' class='btn-stop button'>Stop session</div>
</section>

<div class='title'>
    <h1>Recent users sessions</h1>
</div>

<aside id='openSession'>
<% @highlights.each do |session| %>
    <section id='session'>
        <% user = session.user %>
        <h3><%= user.nickname %></h3>
        <h3><%= session.session_name %></h3>
        <div id='description'>
            <p><%= session.description %></p>
        </div>
        <ul>
            <% @session.tracks.each do |track| %>
                <% if track.audio_content_type!=nil %>
                    <li>
                        <p class='trackname'><%= track.audio_file_name %></p>
                        <audio id='<%= session.id %>' class="player" src='<%= track.audio %>' controls></audio>
                        <input id='<%= session.id %>' class="time" type="number" value=0>seg.</input>
                <% else %>
                    <p>There isn't any record in your session</p>
                <% end %>
            <% end %>
        </ul>
        <div id='<%= session.id %>' class='btn-play button'>Play session</div>
        <div id='<%= session.id %>' class='btn-pause button'>Pause session</div>
        <div id='<%= session.id %>' class='btn-stop button'>Stop session</div>
<div id='links'>
        <br><%= link_to 'Edit', edit_user_session_path(@user, session) %>
        <br><%= link_to 'Remove session', user_session_path(@user, session), method: :delete, data: {confirm: "Are you sure?"} %>
    </section>
<% end %>
</aside>
<footer>
    <div class='title'><h3>by Franx0</h3></div>
</footer>


